@font-face {
    font-family: 'Poke-font';
    src: url('fonts/pk-font.ttf');
}

.container {

    display: flex;
    /*flex-direction: column;*/
}

.container__main {
    /* Take the remaining height */
    padding-top: 125px;
    padding-bottom: 125px;
    flex-grow: 1;
    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.container__middle {
    /* Take the remaining width */

    flex-grow: 1;
    display: flex;
    justify-content: center;

}

body{
  background-color: #a40606;
  background-image: linear-gradient(315deg, #d98324 0%, #a40606 90%);
}

ul{
    list-style-type: none;
}

a{
  color: #ffffff;
}

.modal{
  margin-top: 200px;

}

.button-class{
  padding: 5px;

  background-color: #8ACC43;
  color: #000000;
  border-color:inherit;
  width: 240px;
  height: 50px;
  /*box-shadow: 2px 2px 1px #97CB97;*/
  font-family: 'Poke-font';
}

.button-class:hover{
  background-color: #7D8CA1;
}

.modal-body, .modal-header, .modal-footer{
  background-color:#97CB97;
  border-color: #000000;
  border-width: 0px;
}

#shiny-button{
  background-color: #FFC300;
  border-color:inherit;
  border-width: 2px;
  color: #000000;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 120px;
  background-color: #00A087;
  border-radius: 0 0 50px 50px;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #00A087;
  color: white;
  text-align: center;
  border-radius: 70px 70px 0 0;
}

.nav-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-footer{
  padding-top: 15px;
  font-size: 20px;
}
