.container {
    display: flex;
    flex-direction: column;
}

.container__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.container__left {
    width: 25%;
    background-color: #EB4E1A;
}

.container__middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.container__right {
    width: 20%;
    background-color: #EB4E1A;
}

body{
  background-color: #FF784F;
}

.button-class{
  padding: 5px;
  margin-top: 2px;
  background-color: #8ACC43;
  color: #000000;
  border-color:inherit;
  width: 120px;
  box-shadow: 5px 5px 2px #97CB97;
  font-family: helvetica;
}

.button-class:hover{
  background-color: #7D8CA1;
}

.modal-body, .modal-header, .modal-footer{
  background-color:#97CB97;
  border-color: #000000;
  border-width: 0px;
}

#shiny-button{
  background-color: #FFC300;
  border-color:inherit;
  border-width: 2px;
  color: #000000;
}
